/**
 * Place your custom CSS styles here.
 **/
.datablock {
    padding: 2px;
    background-color: white;
    display: inline;
}
.datablock::before {
    content: 'Click to hide details...';
    color: #669;
    cursor: pointer;
    margin: 0 0 0 1em;
}
.datablock > ul {
    border: solid 1px #669;
    height: auto;
    transition: height 0.5s ease;
    margin: 0.3em 0;
}
.datablock.collapsed::before {
    content: 'Click to show details...';
}
.collapsed > br,
.collapsed > ul {
    height: 0;
    display: none;
    border: 0;
}

.sidepanel,
.buttonbox {
    display: flex;
    flex-flow: row wrap;
}

.sidepanel {
    font-size: 0.875em;
    position: fixed;
    left: auto;
    right: 0.5em;
    width: 30%;
    top: 5em;
    /* bottom: 5em; */
    border: 1px solid #669;;
    border-radius: 5px 0 0 5px;
    background: white;
    z-index: 100;
    overflow: auto;
    padding: 0.3em;
}

.titlepanel {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.titlepanel b {
    margin: 0.5em 0 0.8em;
}

.sidepanel button {
    font-size: 1.0em;
    border: 0;
    border-radius: 4px;
    padding: 0.4em 0.8em;
    margin:  0.2em 0.4em 0.2em 0;
    background-color: #336;
    color: White;
    font-weight: bold;
    z-index: 100;
}

.sidepanel p {
    margin: 0.5em 0;
}

.sidepanel select {
    width: 100%;
}

.sidepanel select.hidden {
    visibility: hidden;
    height: 1px;
    margin-top: -1px;
}

.buttonbox {
    justify-content: flex-start;
    align-content: space-between;
}
.buttonbox > button {
    width: 23%;
}
.error {
  color: #d00;
  font-weight: bold;
  background-color: #fcc;
}
