/**
 * Place your custom CSS styles here.
 **/
.datablock {
    padding: 2px;
    background-color: white;
    display: inline;
}
.datablock::before {
    content: 'Click to hide details...';
    color: #669;
    cursor: pointer;
    margin: 0 0 0 1em;
}
.datablock > ul {
    border: solid 1px #669;
    height: auto;
    transition: height 0.5s ease;
    margin: 0.3em 0;
}
.datablock.collapsed::before {
    content: 'Click to show details...';
}
.collapsed > br,
.collapsed > ul {
    height: 0;
    display: none;
    border: 0;
}

.sidepanel {
    position: fixed;
    left: auto;
    right: 0;
    width: 15em;
    top: 5em;
    bottom: 5em;
    border: 1px solid #669;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    background: white;
    z-index: 100;
}

.sidepanel button {
    border: 0;
    border-radius: 4px;
    padding: 0.25em 0.5em;
    background-color: #336;
    color: White;
    font-weight: bold;
    z-index: 100;
}